html {
    height: 100%;
    top: 0;
    margin: 0;
    -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    margin: 0;
    overflow: hidden;
    background: #3f51b5;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
#root {
    height: 100%;
    background: #fafafa;
    overflow: auto;
}

footer {
    bottom: 0px;
    width: 100%;
    padding: 0;
    margin: 0;
    background: #3f51b5;
    color: #fafafa;
    position: fixed;
    text-align: center;
    font-size: 10px;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
        0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    border-radius: 20px 20px 0px 0px !important;
}
.MuiAppBar-root {
    border-radius: 0px 0px 10px 10px !important;
}

.MuiOutlinedInput-adornedEnd {
    padding-right: 5px !important;
}

.floatRight {
    float: right;
}

svg {
    vertical-align: middle !important;
}
